*{
    margin: 0;
    padding: 0;
    /* background-color:rgb(151, 186, 201); */
}
body{
    background-color: rgb(151, 186, 201);
}
nav{
    height: 40px;
    width: 100vw;
    font-size: 15px;
}
ul{
    position: relative;
    top: 2px;
    width: 90vw;
    height: 37px;
    /* padding: 0px 10px; */
}
li{
    position: relative;
    top: 9px;
    margin: 0px 40px;
    background-color:darkgrey;
    padding: 0px 50px 1px 50px;
    border: red 2px;
    border-radius: 5px;
    display: inline-block;
}
li:hover{
    height: 20px;
    border: black 2px solid;
}
.heading{
    padding: 6px 0px 0px 0px;
    border: black 3px double;
    height: 40px;
    width: 100vw;
    font-size: 25px;
    text-align: center;
}

.main{
    
    height: 80vh;
    width: 90vw;
    position: relative;
    top: 3px;
    left: 5vw;
    border: black 3px double;
    display: flex;
}

.part1{
    background-color:rgb(212, 202, 202);
    height: 80vh;
    width: 50em;
    display: flex;
    flex-direction: column;
    
    
}
.headings{
    text-align: center;
}

form{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part2{
    background-color: rgb(53, 51, 51);
    height: 80vh;
    width: 30em;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px ;
    
}